<!DOCTYPE html>
<html>
    <head>
        <title>Nova saída no SGE</title>
    </head>
    <body>
        <div class="container">
            <p><h3>Nova saída registrada no SGE!</h3></p><br>
            <p>Produto: <b>{{ product }}</b></p>
            <p>Quantidade: <b>{{ quantity }}</b></p>
            <p>Valor da venda: <b>R$ {{ total_value }}</b></p>
            <p>Lucro com a venda: <b>R$ {{ product }}</b></p>
            <br><br>
            <p>
                Atenciosamente, <br>
                Sistema de Gestão de Estoque (SGE)
            </p>
        </div>
    </body>
</html>